import styles from '../styles/components/{{name}}.module.scss';

export interface {{name}}Props {
}

export default function {{name}}(props: {{name}}Props) {
    return (
        <div className={styles.{{name}}Component}>
        </div>
    );
}